# Get from https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyDAKm2Nc0Hn21vuoZiJsfbcgxt6XvmEo6E

# Get from https://freesound.org/apiv2/apply/
FREESOUND_API_KEY=jqkijliXHJOhQbHeJ5aOBsSIqlezhT1zVn1KQ7SJ
