@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
}

html,
body {
  background: var(--color-background);
  color: var(--color-foreground);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(38, 38, 38);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 64, 64);
}
